@model List<ArticleViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<style>
    .article-panel {
        border: 1px solid black;
        border-radius: 5px;
    }

    .maxwidth {
        max-width: 100%;
    }

    .maxheight {
        max-height: 100%;
    }

    .black {
        color: black !important;
    }

    .brick {
        color: firebrick !important;
    }


    .action:hover {
        color: blue !important;
    }
</style>


<div class="container">
    <h2 class="text-center">Last Articles</h2>
    <br />
    @if (Model is null || Model.Count == 0)
    {
        <h2 class="text-center article-panel brick">THERE ISN'T ANY DATA</h2>
    }

    @foreach (var article in Model)
    {
        <div class="row mb-2 p-1 article-panel">
            <div class="col col-9">
                <div class="row">
                    <div class="col col-4">
                        <div class="row"><b>Author : </b> &nbsp; @article.Author</div>
                        <div class="row">
                            <img src="~/images/@article.ArticlePicture" alt="Alternate Text" style="object-fit: contain; max-width: 200px; max-height: 150px;" />
                        </div>
                    </div>
                    <div class="col col-8">
                        <a asp-action="Overview" asp-route-id="@article.Id"  class="black action">
                            <div class="row"><b>Title : </b> &nbsp; @article.Title</div>
                            <div class="row"><b>Content : </b> &nbsp; @article.GetContentSummary()</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col col-3">
                <div class="row float-right"><b>Created At : </b> &nbsp; @article.GetCreatedTime() </div>
                <br />
                @if (article.AuthorId.Equals(User.GetID())) // Article Sahibi Login Olan Kişimi
                {
                    <div class="row float-right">
                        <a class="btn btn-sm btn-warning" asp-action="EditArticle" asp-route-id="@article.Id"><i class="far fa-edit"></i></a>
                        <a class="btn btn-sm btn-danger ml-2" asp-controller="Data" asp-action="DeleteArticle" asp-route-id="@article.Id"><i class="fas fa-ban"></i></a>
                    </div>
                }
            </div>
        </div>
    }
</div>